/* Nav Styling */

#header {
    background: rgba(0, 0, 0, 0.589);
    box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

#header nav h1 {
    cursor: default;
    height: 3em;
    left: 1em;
    line-height: 3em;
    position: absolute;
    top: 0;
}

#header nav h1 a {
    font-size: 1.25em;
}

#header nav {
    height: 3em;
    line-height: 3em;
    position: absolute;
    right: 0.5em;
    top: 0;
}

#header nav ul {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 0.5em;
}


/* Main Content Styling */
main {
    margin-top: 10em;
}